

<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      
      <div class="col-md-2 ">
        <img src="" class="img-fluid rounded-start mt-3" style="border-radius: 50%;" alt="...">
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <h5 class="card-title">User</h5>
          <p class="card-text">Username</p>
        </div>
      </div>
      <div class="col-md-4"><button class="followb" type="submit">Takip et</button></div>
      <div class="col-md-4">
        <img src="..." class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-4">
        <div class="card-body">
          <h5 class="card-title">User</h5>
          <p class="card-text">Username</p>
          
        </div>
      </div>
      <div class="col-md-4"><button class="followb" type="submit">Takip et</button></div>
    </div>
  </div>